*{
    margin: 0;
    padding: 0;
}
.book{
    display: inline-block;
    text-align: center;
    border-radius: 10px;
    border:1px solid #000;
    margin:1rem;
    padding: 1rem;
}
.book_author{
    font-size: 18px;
    color: #000;
}
.book_title{
    margin-top: 0.2rem;
    font-size: 24px;
    font-weight:bold;
}
.wrap{
    display: flex;
}
header{
    height: 80px;
    border-bottom: 1px solid #000;
}
nav{
    background-color: #eee;
    padding: 1rem;
}
main{
    height: calc(100vh - 81px);
}