footer{
   padding: 0 16px;
   border-top: 1px solid #000;
   font-size: 1.5rem;
   font-weight: $fw-b;
   .com{
      &_desc{
         display: none;
      }
      &_business{
         padding: 8px 0;
         line-height: 1.2;
      }
      &_contact{
         padding: 38px 0;
         line-height: 1.2;
      }
   }
   .ft{
      &_logo{
         @include flexBetween;
         align-items: flex-end;
         padding: 16px 0;
         img{
            width: 100px;
         }
         .copyright{
            font-size: inherit;
            font-weight: inherit;
         }
      }
      &_tit{
         display: none;
      }
      &_hello{
         display: none;
      }
   }
}

@media screen and (min-width:901px) {
   footer{
      font-size: 2rem;
      font-weight: $fw-m;
      .com{
         &_desc{
            display: block;
            font-size: inherit;
         }
         &_business{
            order: 1;
         }
         &_desc{
            padding-right: 100px;
            flex: 1 1 30%;
         }
         &_contact,&_business{
            flex: 0 0 30%;
            font-size: inherit;
            padding: 0;
            padding-left: 24px;
            margin-top: -42px;
         }
      }
      .ft{
         &_hello{
            display: block;
            font-size: 12vw;
            line-height: 1;
            padding-bottom:260px;
         }
         &_tit{
            display: block;
            padding-bottom: 22px;
         }
         &_company{
            @include flexBetween;
            align-items: flex-start;
         }
         &_tit, &_company{
            font-size: inherit;
         }
         &_logo{
            display: none;
         }
      }
   }
}