.main_visual{
   text-align: center;
   background-color:#fff;
}
.slogan{
   display: none;
}
.vis_link_txt{
   display: none;
}
.catchphrase{
   position: relative;
   padding: 36px 0 12px;
   em, span{
      font-weight:inherit;
      font-size:inherit;
      line-height:inherit;
   }
}
.cp_02{
   position: relative;
   width: 100%;
   .cp_t{
      letter-spacing: -5px;
   }
}
.cp_01,.cp_02{
   em, span{
      font-weight: $fw-b;
      font-size: calc(100vw/5);
      line-height: 1;
   }
}
.cp_t {
   letter-spacing: -28px;
   flex: 0;
   &.txt_clip{
      font-style: italic;
      letter-spacing: -3px;
   }
}
.txt_scroll{
   display: none;
}
.txt_clip{
   -webkit-text-stroke: 1px blue;
   -webkit-background-clip: text;
   background-clip: text;
   color: transparent;
}
@media all and (min-width: 901px) {
   .catchphrase{     
      padding: 0;
      width: 100%;
      height: 70vh;      
      padding-bottom: 300px;
      z-index: 99;
      padding: 0;
      border: 1px solid red;
      width: 100%;
      .txt_scroll{
         position: absolute;
         display: block;
         bottom: 490px;
         left: 50%;
         top: 250px;
         transform: translate3d(-50%,0,0);
         letter-spacing: normal;
      }
   }
   .cp{
      &_t{
         letter-spacing: -45px;
         &.txt_clip{
            margin-left: 24px;
         }
      }
      &_01{
         position: absolute;
         top: 50vh;
         left: 0;
         flex: 1;
         width: 100%;
         height: 50vh;
         color: #000;
         border: 1px solid;
         display: flex;
         justify-content: flex-start;
         align-items: flex-start;
         background-color: #fff;
         .cp_t{
            position: relative;
            margin: auto;
            top: 0px;
            left: 0px;
            bottom: auto;
            right: auto;
            box-sizing: border-box;
            height: 100%;
            flex: 0;
            opacity: 0;
            &.t1{
               top: 100px;
            }
            &.t2{
               top: 200px;
               color: transparent;
               background-image: url("../images/love_text_back.svg");
               background-repeat: no-repeat;
               background-position-y: 300px;
               background-size: auto;
               -webkit-background-clip: text;
               background-clip: text;
               padding-right: 40px;
            }
            &.visible{
               top: 0;
               opacity: 1;
            }
         }
      }
      &_02{
         position: absolute;
         top: 50vh;
         transform: translateY(-50%);
         border: 1px solid blue;
         line-height: 0.8;
         background-color: #fff;
         .cp_t{
            position: relative;
            z-index: 1;
            letter-spacing: -10px;
         }
         &.scroll_up{
            position: absolute;
            bottom: 0;
            top: auto;
            transform: translateY(0);
         }
      }
   }
   .slogan{
      display: block;
      padding: 24px 0;
      font-size: 22px;
      text-align: left;
      text-indent: 30px;
      width: 100%;
      font-weight: 400;
      opacity: 0;
   }
   .main_visual{
      position: relative;
      margin-left: -24px;
      margin-right: -24px;
      .sec_visual{         
         margin-left: 0px;
         margin-right: 0px;
      }
   }
   .vis_link{
      position: relative;
      background-color: transparent;
      width: 100%;
      margin: 0 auto;
      border:1px solid;
      &::before {
         content: "";
         display: block;
         width:  100%;
         height: 0;
         padding-top: 56.25%;
      }
      .main_video_iframe{
         position: absolute;
         margin: 0 auto;
         width: 50%;
         height: 100%;
         top: 0;
         left: 50%;
         transform: translateX(-50%);
      }
      &_center{
         position: absolute;
         top:50%;
         left: 50%;
         transform: translate(-50%,-50%);
         width: 100px;
         height: 100px;
         border-radius: 50%;
         background-color: transparent;
         backdrop-filter: invert(100%);
         &::after{
            content: 'WATCH';
            @include flexCenter;
            width: 100%;
            height: 100%;
            -webkit-text-stroke: 1px #000;
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
            font-size: $fs-sm;
         }
      }
      &_txt{
         position: absolute;
         top: 0;
         left: 0;
         @include flexStart;
         align-items: flex-end;
         width: 100%;
         height: 100%;
         padding: 24px;
         color: $color-white;
         font-size: 2.6em;
         text-align: left;
      }
   }
}

#cursor {
   position: fixed;
   z-index:999;
   left: 0;
   top: 0;
   pointer-events: none;
   will-change: transform;
   mix-blend-mode: difference;
   &.arrow{
      &::after{
         content: '';
         position: absolute;
         left: -50%;
         top: -50%;
         width: 100%;
         height: 100%;
         background-image: url('https://svgshare.com/i/MzQ.svg');
         background-repeat: no-repeat;
         background-position: center;
      }
      .cursor__circle{
         width: 128px;
         height: 128px;
         background-color: #073099;
         border-color: #073099;
      }
   }
   &.subtle .cursor__circle{
      opacity: 0.16;
   }
   &.overlay .cursor__circle{
      width: 48px;
      height: 48px;
      background-color: rgba(227, 222, 193, 0.08);
      border-color: transparent;
    }
   .cursor{
      &__circle {
      width: 64px;
      height: 64px;
      margin-top: -50%;
      margin-left: -50%;
      border-radius: 50%;
      border: solid 1px rgba(227, 222, 193, 0.64);
      transition: opacity 0.3s cubic-bezier(0.25, 1, 0.5, 1),
         background-color 0.3s cubic-bezier(0.25, 1, 0.5, 1),
         border-color 0.3s cubic-bezier(0.25, 1, 0.5, 1),
         width 0.3s cubic-bezier(0.25, 1, 0.5, 1),
         height 0.3s cubic-bezier(0.25, 1, 0.5, 1);
      }
    }
 }