.hidden {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  text-indent: -9999px;
  border: 0;
  clip: rect(0, 0, 0, 0);
}

button {
  background-color: transparent;
  font-size: 16px;
  cursor: pointer;
}

.game__tit {
  padding: 16px 0 8px;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}
.game__board {
  width: 20vw;
  margin: 0 auto;
  padding: 12px;
  border: 1px solid;
  border-radius: 8px;
}
.game__board > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.game__result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px;
}
.game__result span {
  font-weight: 700;
}
.game__refresh {
  display: none;
  width: 16px;
  height: 16px;
  margin-left: 8px;
  background: url("../img/ico_refresh.png") center/contain no-repeat;
  font-size: 0;
}

.box__icon::after {
  content: attr(data-icon);
}
.box__random {
  padding: 8px;
  border-radius: 8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
.box__random .icon_text {
  margin-left: 4px;
  font-size: 14px;
}
.box__choice {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.box__choice li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
.box__versus {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 8px;
}
.box__versus span {
  font-size: 14px;
  font-weight: 700;
}sition: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.card__front {
  background-color: aquamarine;
  border: 1px solid #aaa;
  -webkit-animation: fadeIn 300ms 1 forwards;
          animation: fadeIn 300ms 1 forwards;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}
.card__back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  background-color: beige;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 2px solid #333;
}

.game__tit {
  padding: 16px 0 8px;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}
.game__board {
  width: 365px;
  margin: 0 auto;
  padding: 8px;
  border: 1px solid;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
}
.game__result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px;
}
.game__result span {
  font-weight: 700;
}
.game__refresh {
  width: 16px;
  height: 16px;
  margin-left: 8px;
  background: url("../img/ico_refresh.png") center/contain no-repeat;
  font-size: 0;
  cursor: pointer;
}
.game__pop {
  visibility: hidden;
  opacity: 0;
  width: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 20px 8px;
  border: 1px solid;
  border-radius: 8px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  -webkit-transition: opacity 300ms;
  transition: opacity 300ms;
}
.game__pop.end {
  -webkit-transition: opacity 300ms;
  transition: opacity 300ms;
  visibility: visible;
  opacity: 1;
  /*  &::before{
      z-index: 1;
      content: '';
      display: block;
      width: 100vw;
      height: 100vw;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      //background-color: rgba(0,0,0,0.4);
      pointer-events: none;
   } */
}