* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/stars-min.png"), radial-gradient(circle at center, #351215 10%, #07131E 100%);
}

h1 {
  font-size: 9em;
  letter-spacing: .15em;
  text-transform: uppercase;
  padding-bottom: 0em;
  margin: 2em 0 -.05em -.025em;
  text-shadow: 10px 10px 40px rgba(32, 18, 26, 0.5);
}

p {
  font-size: 1.1em;
  letter-spacing: .04em;
  line-height: 1.55;
}

.space {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.card {
  position: absolute;
  width: 100%;
  max-width: 600px;
  color: #FFF;
  padding: 2em 1em;
  margin-left: 6em;
  z-index: 0;
}

.info {
  font-size: .95em;
  line-height: 1.8;
  letter-spacing: .15em;
  text-transform: uppercase;
  list-style-type: none;
  padding: 0;
  margin-top: 0px;
}

.info span {
  color: #E46039;
}

.planet {
/*   -webkit-transform: rotate3d(0, 0, 1, -25deg) scale3d(0.23, 0.23, 1);
          transform: rotate3d(0, 0, 1, -25deg) scale3d(0.23, 0.23, 1);
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease; */
  /* border-radius: 100%; */
  width: 1200px;
  height: 50vh;
  position: relative;
}
.planet:after {
  content: '';
  width: 1200px;
  height: 50vh;
  position: absolute;
  /* border-radius: 100%; */
  top: 0;
  left: 0;
  box-shadow: inset 25px 40px 100px 0px rgba(255, 255, 255, 0.45), -50px -50px 150px 0px rgba(225, 69, 38, 0.35), -25px -55px 150px 0px rgba(226, 108, 66, 0.2), 0 0 150px 100px rgba(58, 2, 0, 0.4);
}
.planet:before {
  content: '';
  width: 1200px;
  height: 50vh;
  position: absolute;
  /* border-radius: 100%; */
  /* background: #E26C42; */
  mix-blend-mode: overlay;
  opacity: .35;
  z-index: 100;
}

/* .space:active .planet {
  -webkit-transform: rotate3d(0, 0, 1, -25deg) scale3d(0.5, 0.5, 1);
          transform: rotate3d(0, 0, 1, -25deg) scale3d(0.5, 0.5, 1);
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
}

.space:active .img-map {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
} */

.mars {
  width: 1200px;
  height: 50vh;
  /* border-radius: 100%; */
  position: relative;
  overflow: hidden;
  -webkit-clip-path: content-box;
          clip-path: content-box;
  /* background: url("../css/tsr_visual2.jpg") 0% 0%/auto 100% repeat-x; */
}
.mars img{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.mars .img-map {
  width: 780px;
  height: 290px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  mix-blend-mode: soft-light;
  opacity: .4;
  background: rgb(255,255,255);
  background: linear-gradient(137deg, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 87%);
  background-color: hsl( 165, 82.26%, 51.37%, 0.1);
  clip-path: polygon(7% 76%, 11% 61%, 14% 40%, 21% 24%, 34% 17%, 50% 12%, 67% 13%, 81% 25%, 88% 41%, 89% 60%, 88% 73%, 81% 85%, 59% 97%, 32% 97%, 13% 91%);
  /* background-image: radial-gradient(circle farthest-side at 0% 0%, rgba(255, 255, 255, 0.25) 0%, rgba(0, 0, 0, 0.35) 100%), radial-gradient(circle farthest-side at 0% 0%, #ffbd9d 25%, transparent 80%), radial-gradient(circle farthest-side at 0% 0%, #da200d 0%, transparent 100%), radial-gradient(circle farthest-side at 50% 0%, #f05748 0%, #270300 85%); */
  /* -webkit-animation: rotate 20s linear infinite;
          animation: rotate 20s linear infinite; */
}

.wrap{
  display: flex;
  align-items: center;
  height: 100vh;
  width: 1000px;
  margin: 0 auto;
}
.wrap img{
  width: 100%;
  display: block;
}
.effect{
  position: absolute;
  margin: 0 auto;
  width: 274px;
  height: 276px;
  top: 50%;
  left: 50%;
  transform: translate(-58%, -72%);
}
.wrap .img-map{
  width: 403px;
  height: 386px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-81%, -37%);
  /* background-color: blue; */
  clip-path: circle(50% at 50% 50%);  
  clip-path: polygon(19% 28%, 26% 14%, 33% 8%, 44% 4%, 55% 1%, 72% 3%, 75% 5%, 82% 13%, 85% 24%, 85% 31%)
}
.wrap .img-map::before {
	content: "";
	position: absolute;
	width: 200%;
	aspect-ratio: 1;
	top: -50%;
	left: -50%;
	z-index: -1;
	rotate: -65deg;
	opacity: 0.6;
	background: conic-gradient(
		from 0deg,
		transparent 0 200deg,
		white 360deg
	);
  
	transition: opacity 0.25s;
	animation: rotate 5s linear infinite both;
	animation: rotate 5s linear infinite;
}
.wrap .img-map::after{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 46%;
  left: 47%;
  transform: scale(0.95) translate(-50%, -50%);
  background-color: black;
  background: url('../../exe1.png') center/286px no-repeat;
  clip-path: polygon(19% 28%, 26% 14%, 33% 8%, 44% 4%, 55% 1%, 72% 3%, 75% 5%, 82% 13%, 85% 24%, 85% 31%);
  /* mask-image: url("data:image/svg+xml,%3Csvg height='100' width='100' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle r='45' cx='50' cy='50' stroke='green' stroke-width='3' fill='red' /%3E Sorry, your browser does not support inline SVG. %3C/svg%3E ");
  mask-repeat: no-repeat; */
}

/* .spark {
	position: absolute;
	inset: 0;
	border-radius: 2rem;
	rotate: 0deg;
	overflow: hidden;
	-webkit-mask: linear-gradient(white, transparent 50%);
	        mask: linear-gradient(white, transparent 50%);
	-webkit-animation: flip calc(1.8s * 2) infinite steps(2, end);
	        animation: flip calc(1.8s * 2) infinite steps(2, end);
} */

.spark:before {
	content: "";
	position: absolute;
	width: 200%;
	aspect-ratio: 1;
	top: 0%;
	left: 50%;
	z-index: -1;
	translate: -50% -15%;
	rotate: 0;
	transform: rotate(-90deg);
	opacity: 0.4;
	background: conic-gradient(
		from 0deg,
		transparent 0 340deg,
		white 360deg
	);
	transition: opacity 0.25s;
  animation: rotate 0.5s linear infinite both;
}

.spark:after {
	content: "";
	position: absolute;
	inset: 0.1em;
	border-radius: 2rem;
}

@keyframes flip {
	to {
		rotate: 360deg;
	}
}

@keyframes rotate {
  0% {
            transform: rotate(0);
  }
  100% {
            transform: rotate(360deg);
  }
}
