* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 100%;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html, body {
  font-family: "Noto Sans KR", sans-serif;
  min-width: 280px;
  line-height: 1.2;
  font-size: 10px;
  color: #000;
  word-break: keep-all;
  word-wrap: break-word;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  letter-spacing: -0.7px;
}
html *, body * {
  font-size: 1.6rem;
}

a {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 100%;
  color: inherit;
  line-height: 1.2;
  text-decoration: none;
}

a:active, a:focus, a:hover {
  outline: 0;
  text-decoration: none;
  color: inherit;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

.hide {
  font-size: 0;
  text-indent: -9999em;
  overflow: hidden;
  width: 0;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  line-height: 0;
}

input[type=text], textarea, input[type=button], input[type=submit], button, input[type=search] {
  font-family: "Noto Sans KR", sans-serif;
  border-radius: 0;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select:focus,
input:focus,
textarea:focus,
button:focus {
  outline: none;
}

/* Noto Sans KR */
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 900;
  src: url("../font/NotoSansKR/NotoSansKR-Black.eot"), url("../font/NotoSansKR/NotoSansKR-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSansKR/NotoSansKR-Black.woff") format("woff"), url("../fonts/NotoSansKR/NotoSansKR-Black.woff2") format("woff2"), url("../fonts/NotoSansKR/NotoSansKR-Black.otf") format("opentype"), url("../fonts/NotoSansKR/NotoSansKR-Black.svg#NotoSansKR") format("svg"); /* Legacy iOS */
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 700;
  src: url("../font/NotoSansKR/NotoSansKR-Bold.eot"), url("../font/NotoSansKR/NotoSansKR-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSansKR/NotoSansKR-Bold.woff") format("woff"), url("../fonts/NotoSansKR/NotoSansKR-Bold.woff2") format("woff2"), url("../fonts/NotoSansKR/NotoSansKR-Bold.otf") format("opentype"), url("../fonts/NotoSansKR/NotoSansKR-Bold.svg#NotoSansKR") format("svg");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 500;
  src: url("../font/NotoSansKR/NotoSansKR-Medium.eot"), url("../font/NotoSansKR/NotoSansKR-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSansKR/NotoSansKR-Medium.woff") format("woff"), url("../fonts/NotoSansKR/NotoSansKR-Medium.woff2") format("woff2"), url("../fonts/NotoSansKR/NotoSansKR-Medium.otf") format("opentype"), url("../fonts/NotoSansKR/NotoSansKR-Medium.svg#NotoSansKR") format("svg");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  src: url("../font/NotoSansKR/NotoSansKR-Regular.eot"), url("../font/NotoSansKR/NotoSansKR-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSansKR/NotoSansKR-Regular.woff") format("woff"), url("../fonts/NotoSansKR/NotoSansKR-Regular.woff2") format("woff2"), url("../fonts/NotoSansKR/NotoSansKR-Regular.otf") format("opentype"), url("../fonts/NotoSansKR/NotoSansKR-Regular.svg#NotoSansKR") format("svg");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 300;
  src: url("../font/NotoSansKR/NotoSansKR-Light.eot"), url("../font/NotoSansKR/NotoSansKR-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSansKR/NotoSansKR-Light.woff") format("woff"), url("../fonts/NotoSansKR/NotoSansKR-Light.woff2") format("woff2"), url("../fonts/NotoSansKR/NotoSansKR-Light.otf") format("opentype"), url("../fonts/NotoSansKR/NotoSansKR-Light.svg#NotoSansKR") format("svg");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 100;
  src: url("../font/NotoSansKR/NotoSansKR-Thin.eot"), url("../font/NotoSansKR/NotoSansKR-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSansKR/NotoSansKR-Thin.woff") format("woff"), url("../fonts/NotoSansKR/NotoSansKR-Thin.woff2") format("woff2"), url("../fonts/NotoSansKR/NotoSansKR-Thin.otf") format("opentype"), url("../fonts/NotoSansKR/NotoSansKR-Thin.svg#NotoSansKR") format("svg");
}
/* Poppins */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  src: url("../font/Poppins/Poppins-Black.eot"), url("../font/Poppins/Poppins-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins/Poppins-Black.woff") format("woff"), url("../fonts/Poppins/Poppins-Black.woff2") format("woff2"), url("../fonts/Poppins/Poppins-Black.otf") format("opentype"), url("../fonts/Poppins/Poppins-Black.svg#Poppins") format("svg"); /* Legacy iOS */
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("../font/Poppins/Poppins-Bold.eot"), url("../font/Poppins/Poppins-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins/Poppins-Bold.woff") format("woff"), url("../fonts/Poppins/Poppins-Bold.woff2") format("woff2"), url("../fonts/Poppins/Poppins-Bold.otf") format("opentype"), url("../fonts/Poppins/Poppins-Bold.svg#Poppins") format("svg");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("../font/Poppins/Poppins-SemiBold.eot"), url("../font/Poppins/Poppins-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins/Poppins-SemiBold.woff") format("woff"), url("../fonts/Poppins/Poppins-SemiBold.woff2") format("woff2"), url("../fonts/Poppins/Poppins-SemiBold.otf") format("opentype"), url("../fonts/Poppins/Poppins-SemiBold.svg#Poppins") format("svg");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("../font/Poppins/Poppins-Medium.eot"), url("../font/Poppins/Poppins-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins/Poppins-Medium.woff") format("woff"), url("../fonts/Poppins/Poppins-Medium.woff2") format("woff2"), url("../fonts/Poppins/Poppins-Medium.otf") format("opentype"), url("../fonts/Poppins/Poppins-Medium.svg#Poppins") format("svg");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../font/Poppins/Poppins-Regular.eot"), url("../font/Poppins/Poppins-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins/Poppins-Regular.woff") format("woff"), url("../fonts/Poppins/Poppins-Regular.woff2") format("woff2"), url("../fonts/Poppins/Poppins-Regular.otf") format("opentype"), url("../fonts/Poppins/Poppins-Regular.svg#Poppins") format("svg");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  src: url("../font/Poppins/Poppins-Light.eot"), url("../font/Poppins/Poppins-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins/Poppins-Light.woff") format("woff"), url("../fonts/Poppins/Poppins-Light.woff2") format("woff2"), url("../fonts/Poppins/Poppins-Light.otf") format("opentype"), url("../fonts/Poppins/Poppins-Light.svg#Poppins") format("svg");
}
/* Arita-Dotum */
@font-face {
  font-family: "aritadt";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/AritaDotum/Arita-Dotum-Thin.eot"), url("../fonts/AritaDotum/Arita-Dotum-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/AritaDotum/Arita-Dotum-Thin.woff") format("woff"), url("../fonts/AritaDotum/Arita-Dotum-Thin.woff2") format("woff2"), url("../fonts/AritaDotum/Arita-Dotum-Thin.ttf") format("truetype"), url("../fonts/AritaDotum/Arita-Dotum-Thin.svg") format("svg"); /* Legacy iOS */
}
@font-face {
  font-family: "aritadm";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/AritaDotum/Arita-Dotum-Medium.eot"), url("../fonts/AritaDotum/Arita-Dotum-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/AritaDotum/Arita-Dotum-Medium.woff") format("woff"), url("../fonts/AritaDotum/Arita-Dotum-Medium.woff2") format("woff2"), url("../fonts/AritaDotum/Arita-Dotum-Medium.ttf") format("truetype"), url("../fonts/AritaDotum/Arita-Dotum-Medium.svg") format("svg");
}
@font-face {
  font-family: "aritadsb";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/AritaDotum/Arita-Dotum-SemiBold.eot"), url("../fonts/AritaDotum/Arita-Dotum-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/AritaDotum/Arita-Dotum-SemiBold.woff") format("woff"), url("../fonts/AritaDotum/Arita-Dotum-SemiBold.woff2") format("woff2"), url("../fonts/AritaDotum/Arita-Dotum-SemiBold.ttf") format("truetype"), url("../fonts/AritaDotum/Arita-Dotum-SemiBold.svg") format("svg");
}
@font-face {
  font-family: "aritadb";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/AritaDotum/Arita-Dotum-Bold.eot"), url("../fonts/AritaDotum/Arita-Dotum-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/AritaDotum/Arita-Dotum-Bold.woff") format("woff"), url("../fonts/AritaDotum/Arita-Dotum-Bold.woff2") format("woff2"), url("../fonts/AritaDotum/Arita-Dotum-Bold.ttf") format("truetype"), url("../fonts/AritaDotum/Arita-Dotum-Bold.svg") format("svg");
}
/* Arita-Sans */
@font-face {
  font-family: "aritasans";
  font-weight: 100;
  font-style: normal;
  src: url("../fonts/AritaSans/AritaSans-Thin.eot"), url("../fonts/AritaSans/AritaSans-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/AritaSans/AritaSans-Thin.woff") format("woff"), url("../fonts/AritaSans/AritaSans-Thin.woff2") format("woff2"), url("../fonts/AritaSans/AritaSans-Thin.ttf") format("truetype"), url("../fonts/AritaSans/AritaSans-Thin.svg") format("svg"); /* Legacy iOS */
}
@font-face {
  font-family: "aritasans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/AritaSans/AritaSans-Light.eot"), url("../fonts/AritaSans/AritaSans-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/AritaSans/AritaSans-Light.woff") format("woff"), url("../fonts/AritaSans/AritaSans-Light.woff2") format("woff2"), url("../fonts/AritaSans/AritaSans-Light.ttf") format("truetype"), url("../fonts/AritaSans/AritaSans-Light.svg") format("svg"); /* Legacy iOS */
}
@font-face {
  font-family: "aritasans";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/AritaSans/AritaSans-Medium.eot"), url("../fonts/AritaSans/AritaSans-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/AritaSans/AritaSans-Medium.woff") format("woff"), url("../fonts/AritaSans/AritaSans-Medium.woff2") format("woff2"), url("../fonts/AritaSans/AritaSans-Medium.ttf") format("truetype"), url("../fonts/AritaSans/AritaSans-Medium.svg") format("svg");
}
@font-face {
  font-family: "aritasans";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/AritaSans/AritaSans-SemiBold.eot"), url("../fonts/AritaSans/AritaSans-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/AritaSans/AritaSans-SemiBold.woff") format("woff"), url("../fonts/AritaSans/AritaSans-SemiBold.woff2") format("woff2"), url("../fonts/AritaSans/AritaSans-SemiBold.ttf") format("truetype"), url("../fonts/AritaSans/AritaSans-SemiBold.svg") format("svg");
}
@font-face {
  font-family: "aritasans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/AritaSans/AritaSans-Bold.eot"), url("../fonts/AritaSans/AritaSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/AritaSans/AritaSans-Bold.woff") format("woff"), url("../fonts/AritaSans/AritaSans-Bold.woff2") format("woff2"), url("../fonts/AritaSans/AritaSans-Bold.ttf") format("truetype"), url("../fonts/AritaSans/AritaSans-Bold.svg") format("svg");
}
/* APHQ */
@font-face {
  font-family: "APHQ";
  font-style: normal;
  src: url("../fonts/APHQ/APHQHangeul.eot"), url("../fonts/APHQ/APHQHangeul.eot?#iefix") format("embedded-opentype"), url("../fonts/APHQ/APHQHangeul.woff") format("woff"), url("../fonts/APHQ/APHQHangeul.woff2") format("woff2"), url("../fonts/APHQ/APHQHangeul.ttf") format("truetype"), url("../fonts/APHQ/APHQHangeul.svg") format("svg"); /* Legacy iOS */
}
/* LGSmHa */
@font-face {
  font-family: "LGSmHa";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/LGSmHa/LGSmHaB.eot"), url("../fonts/LGSmHa/LGSmHaB.eot?#iefix") format("embedded-opentype"), url("../fonts/LGSmHa/LGSmHaB.woff") format("woff"), url("../fonts/LGSmHa/LGSmHaB.woff2") format("woff2"), url("../fonts/LGSmHa/LGSmHaB.ttf") format("opentype"), url("../fonts/LGSmHa/LGSmHaB.svg#LGSmHa") format("svg"); /* Legacy iOS */
}
@font-face {
  font-family: "LGSmHa";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/LGSmHa/LGSmHaSB.eot"), url("../fonts/LGSmHa/LGSmHaSB.eot?#iefix") format("embedded-opentype"), url("../fonts/LGSmHa/LGSmHaSB.woff") format("woff"), url("../fonts/LGSmHa/LGSmHaSB.woff2") format("woff2"), url("../fonts/LGSmHa/LGSmHaSB.ttf") format("opentype"), url("../fonts/LGSmHa/LGSmHaSB.svg#LGSmHa") format("svg");
}
@font-face {
  font-family: "LGSmHa";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/LGSmHa/LGSmHaR.eot"), url("../fonts/LGSmHa/LGSmHaR.eot?#iefix") format("embedded-opentype"), url("../fonts/LGSmHa/LGSmHaR.woff") format("woff"), url("../fonts/LGSmHa/LGSmHaR.woff2") format("woff2"), url("../fonts/LGSmHa/LGSmHaR.ttf") format("opentype"), url("../fonts/LGSmHa/LGSmHaR.svg#LGSmHa") format("svg");
}
@font-face {
  font-family: "LGSmHa";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/LGSmHa/LGSmHaL.eot"), url("../fonts/LGSmHa/LGSmHaL.eot?#iefix") format("embedded-opentype"), url("../fonts/LGSmHa/LGSmHaL.woff") format("woff"), url("../fonts/LGSmHa/LGSmHaL.woff2") format("woff2"), url("../fonts/LGSmHa/LGSmHaL.ttf") format("opentype"), url("../fonts/LGSmHa/LGSmHaL.svg#LGSmHa") format("svg");
}
/* Button */
button {
  vertical-align: middle;
  border: 0;
  background: none;
  white-space: nowrap;
  outline: none;
  cursor: pointer;
}

.btn {
  display: inline-block;
  overflow: visible;
  position: relative;
  margin: 0;
  padding: 0 1.6rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 24px;
  vertical-align: middle;
  border: 0;
  border-radius: 4px;
  background: none;
  white-space: nowrap;
  outline: none;
  cursor: pointer;
  -moztransition: all 0.3s ease-out 0s;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.btn:not(.btn_icon) i[class*=ico_] {
  margin-right: 4px;
}
.btn_xl {
  min-height: 56px;
  font-size: 1.8rem;
  line-height: 26px;
  letter-spacing: -0.63px;
}
.btn_xl.btn_icon {
  width: 56px;
  height: 56px;
  padding: 1.2rem;
}
.btn_lg {
  min-height: 50px;
  font-size: 1.6rem;
  line-height: 26px;
  letter-spacing: -0.56px;
}
.btn_lg.btn_icon {
  width: 50px;
  height: 50px;
  padding: 0 1.6rem;
}
.btn_md {
  min-height: 44px;
  font-size: 1.4rem;
  line-height: 26px;
  letter-spacing: -0.49px;
}
.btn_md.btn_icon {
  width: 44px;
  height: 44px;
  padding: 6px;
}
.btn_sm {
  min-height: 38px;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.49px;
}
.btn_sm.btn_icon {
  width: 38px;
  height: 38px;
  padding: 0.4rem;
}
.btn_xs {
  min-height: 32px;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.42px;
}
.btn_primary {
  color: #fff !important;
  border: 1px solid #0f62fe;
  background-color: #0f62fe;
}
.btn_primary:hover {
  border-color: #0043CE;
  background-color: #0043CE;
}
.btn_secondary {
  color: #fff !important;
  border: 1px solid #525252;
  background-color: #525252;
}
.btn_secondary:hover {
  border-color: #1F1F1F;
  background-color: #1F1F1F;
}
.btn_normal {
  color: #525252 !important;
  border: 1px solid #F0F0F0;
  background-color: #F0F0F0;
}
.btn_normal:hover {
  border-color: #DBDBDB;
  background-color: #DBDBDB;
}
.btn_border {
  color: #0f62fe;
  border: 1px solid #0f62fe;
  background-color: #fff;
}
.btn_border:hover {
  background-color: rgba(15, 98, 254, 0.051);
}
.btn_green {
  color: #fff !important;
  border: 1px solid #26A769;
  background-color: #26A769;
}
.btn_green:hover {
  border-color: #21925c;
  background-color: #21925c;
}
.btn_white {
  color: #666666 !important;
  border: 1px solid #fff;
  background-color: #fff;
}
.btn_disabled {
  color: #999999 !important;
  border: 1px solid #F0F0F0;
  background-color: #F0F0F0;
}
.btn_disabled i::before {
  -webkit-filter: brightness(0) saturate(100%) invert(63%) sepia(11%) saturate(2%) hue-rotate(314deg) brightness(95%) contrast(85%);
          filter: brightness(0) saturate(100%) invert(63%) sepia(11%) saturate(2%) hue-rotate(314deg) brightness(95%) contrast(85%);
}
.btn_disabled:hover {
  border: 1px solid #F0F0F0;
  background-color: #F0F0F0;
}
.btn_disabled.btn_border {
  border-color: #DBDBDB;
  background-color: transparent;
}
.btn_disabled.btn_border:hover {
  border-color: #DBDBDB;
  background-color: #fff;
}
.btn_radius {
  border-radius: 100px;
}
.btn.btn_icon {
  vertical-align: top;
}
.btn.btn_icon i {
  vertical-align: top;
}
.btn.btn_icon i[class*=ico_16] {
  margin: 0.4rem;
}
.btn_group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
}
.btn_group button + button {
  margin-left: 0.8rem;
}

label.btn {
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  width: auto;
  line-height: 38px;
}
label.btn_xl {
  line-height: 56px;
}
label.btn_lg {
  line-height: 50px;
}
label.btn_md {
  line-height: 44px;
}
label.btn_sm {
  line-height: 38px;
}
label.btn_xs {
  line-height: 32px;
}

a.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#container {
  padding: 0 12px;
}

.sec_tit_sm {
  padding-top: 16px;
}
.sec_visual {
  margin-left: -12px;
  margin-right: -12px;
}
.sec_visual img {
  display: block;
  max-width: 100%;
}
.sec_desc {
  padding-top: 14px;
  font-size: 1.5rem;
}
.sec_desc .btn_more {
  display: block;
  text-decoration: underline;
}

.btn_more {
  padding: 16px 0;
}

@media screen and (min-width: 901px) {
  #container {
    padding: 0 24px;
  }
  .sec_visual {
    margin-left: -24px;
    margin-right: -24px;
  }
}
header {
  padding: 8px 0;
  height: 35px;
  position: fixed;
  width: 100%;
  z-index: 1;
}
header .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  padding: 0 16px;
}
header .logo {
  font-weight: 700;
  font-size: 1.4rem;
  letter-spacing: normal;
}
header .menu_item {
  font-size: 1.5rem;
  font-weight: 900;
}
header .menu_item + .menu_item {
  margin-left: 8px;
}

footer {
  padding: 0 16px;
  border-top: 1px solid #000;
  font-size: 1.5rem;
  font-weight: 700;
}
footer .com_desc {
  display: none;
}
footer .com_business {
  padding: 8px 0;
  line-height: 1.2;
}
footer .com_contact {
  padding: 38px 0;
  line-height: 1.2;
}
footer .ft_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 16px 0;
}
footer .ft_logo img {
  width: 100px;
}
footer .ft_logo .copyright {
  font-size: inherit;
  font-weight: inherit;
}
footer .ft_tit {
  display: none;
}
footer .ft_hello {
  display: none;
}

@media screen and (min-width: 901px) {
  footer {
    font-size: 2rem;
    font-weight: 500;
  }
  footer .com_desc {
    display: block;
    font-size: inherit;
  }
  footer .com_business {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  footer .com_desc {
    padding-right: 100px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 30%;
            flex: 1 1 30%;
  }
  footer .com_contact, footer .com_business {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30%;
            flex: 0 0 30%;
    font-size: inherit;
    padding: 0;
    padding-left: 24px;
    margin-top: -42px;
  }
  footer .ft_hello {
    display: block;
    font-size: 12vw;
    line-height: 1;
    padding-bottom: 260px;
  }
  footer .ft_tit {
    display: block;
    padding-bottom: 22px;
  }
  footer .ft_company {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  footer .ft_tit, footer .ft_company {
    font-size: inherit;
  }
  footer .ft_logo {
    display: none;
  }
}
.main_visual {
  text-align: center;
  background-color: #fff;
}

.slogan {
  display: none;
}

.vis_link_txt {
  display: none;
}

.catchphrase {
  position: relative;
  padding: 36px 0 12px;
}
.catchphrase em, .catchphrase span {
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
}

.cp_02 {
  position: relative;
  width: 100%;
}
.cp_02 .cp_t {
  letter-spacing: -5px;
}

.cp_01 em, .cp_01 span, .cp_02 em, .cp_02 span {
  font-weight: 700;
  font-size: 20vw;
  line-height: 1;
}

.cp_t {
  letter-spacing: -28px;
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
}
.cp_t.txt_clip {
  font-style: italic;
  letter-spacing: -3px;
}

.txt_scroll {
  display: none;
}

.txt_clip {
  -webkit-text-stroke: 1px blue;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

@media all and (min-width: 901px) {
  .catchphrase {
    padding: 0;
    width: 100%;
    height: 70vh;
    padding-bottom: 300px;
    z-index: 99;
    padding: 0;
    border: 1px solid red;
    width: 100%;
  }
  .catchphrase .txt_scroll {
    position: absolute;
    display: block;
    bottom: 490px;
    left: 50%;
    top: 250px;
    -webkit-transform: translate3d(-50%, 0, 0);
            transform: translate3d(-50%, 0, 0);
    letter-spacing: normal;
  }
  .cp_t {
    letter-spacing: -45px;
  }
  .cp_t.txt_clip {
    margin-left: 24px;
  }
  .cp_01 {
    position: absolute;
    top: 50vh;
    left: 0;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: 100%;
    height: 50vh;
    color: #000;
    border: 1px solid;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    background-color: #fff;
  }
  .cp_01 .cp_t {
    position: relative;
    margin: auto;
    top: 0px;
    left: 0px;
    bottom: auto;
    right: auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
    opacity: 0;
  }
  .cp_01 .cp_t.t1 {
    top: 100px;
  }
  .cp_01 .cp_t.t2 {
    top: 200px;
    color: transparent;
    background-image: url("../images/love_text_back.svg");
    background-repeat: no-repeat;
    background-position-y: 300px;
    background-size: auto;
    -webkit-background-clip: text;
    background-clip: text;
    padding-right: 40px;
  }
  .cp_01 .cp_t.visible {
    top: 0;
    opacity: 1;
  }
  .cp_02 {
    position: absolute;
    top: 50vh;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    border: 1px solid blue;
    line-height: 0.8;
    background-color: #fff;
  }
  .cp_02 .cp_t {
    position: relative;
    z-index: 1;
    letter-spacing: -10px;
  }
  .cp_02.scroll_up {
    position: absolute;
    bottom: 0;
    top: auto;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .slogan {
    display: block;
    padding: 24px 0;
    font-size: 22px;
    text-align: left;
    text-indent: 30px;
    width: 100%;
    font-weight: 400;
    opacity: 0;
  }
  .main_visual {
    position: relative;
    margin-left: -24px;
    margin-right: -24px;
  }
  .main_visual .sec_visual {
    margin-left: 0px;
    margin-right: 0px;
  }
  .vis_link {
    position: relative;
    background-color: transparent;
    width: 100%;
    margin: 0 auto;
    border: 1px solid;
  }
  .vis_link::before {
    content: "";
    display: block;
    width: 100%;
    height: 0;
    padding-top: 56.25%;
  }
  .vis_link .main_video_iframe {
    position: absolute;
    margin: 0 auto;
    width: 50%;
    height: 100%;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .vis_link_center {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: transparent;
    -webkit-backdrop-filter: invert(100%);
            backdrop-filter: invert(100%);
  }
  .vis_link_center::after {
    content: "WATCH";
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
    width: 100%;
    height: 100%;
    -webkit-text-stroke: 1px #000;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 1.8rem;
  }
  .vis_link_txt {
    position: absolute;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 100%;
    height: 100%;
    padding: 24px;
    color: #fff;
    font-size: 2.6em;
    text-align: left;
  }
}
#cursor {
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  pointer-events: none;
  will-change: transform;
  mix-blend-mode: difference;
}
#cursor.arrow::after {
  content: "";
  position: absolute;
  left: -50%;
  top: -50%;
  width: 100%;
  height: 100%;
  background-image: url("https://svgshare.com/i/MzQ.svg");
  background-repeat: no-repeat;
  background-position: center;
}
#cursor.arrow .cursor__circle {
  width: 128px;
  height: 128px;
  background-color: #073099;
  border-color: #073099;
}
#cursor.subtle .cursor__circle {
  opacity: 0.16;
}
#cursor.overlay .cursor__circle {
  width: 48px;
  height: 48px;
  background-color: rgba(227, 222, 193, 0.08);
  border-color: transparent;
}
#cursor .cursor__circle {
  width: 64px;
  height: 64px;
  margin-top: -50%;
  margin-left: -50%;
  border-radius: 50%;
  border: solid 1px rgba(227, 222, 193, 0.64);
  -webkit-transition: opacity 0.3s cubic-bezier(0.25, 1, 0.5, 1), background-color 0.3s cubic-bezier(0.25, 1, 0.5, 1), border-color 0.3s cubic-bezier(0.25, 1, 0.5, 1), width 0.3s cubic-bezier(0.25, 1, 0.5, 1), height 0.3s cubic-bezier(0.25, 1, 0.5, 1);
  transition: opacity 0.3s cubic-bezier(0.25, 1, 0.5, 1), background-color 0.3s cubic-bezier(0.25, 1, 0.5, 1), border-color 0.3s cubic-bezier(0.25, 1, 0.5, 1), width 0.3s cubic-bezier(0.25, 1, 0.5, 1), height 0.3s cubic-bezier(0.25, 1, 0.5, 1);
}

.work_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -4px -4px 4px;
  padding: 40px 0 80px;
}
.work_list li {
  overflow: hidden;
  -ms-flex-preferred-size: calc(50% - 8px);
      flex-basis: calc(50% - 8px);
  margin: 4px;
  border-radius: 20px;
  text-align: center;
}
.work_list li:nth-child(3) {
  border-bottom-right-radius: 50%;
}
.work_list li figure {
  position: relative;
  width: 100%;
  padding-bottom: 105%;
}
.work_list li figcaption {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 12px;
  font-size: 1.4rem;
  font-weight: 700;
  color: #fff;
}
.work_list li img {
  position: absolute;
  left: 0;
  top: 0;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: auto;
}