@import "style";

$media_pc: 1024px;
$media_tablet:835px;
$media_mobile:720px;
$media_mini:320px;
/* 스크롤바 흔들림없애기 */
html{
   &.no_scroll{
      overflow: hidden !important;
      height: 100% !important;
      body.no_scroll{
         overflow: hidden !important;
         height: 100% !important;
      }
   }
   &.long{
      overflow-y: scroll !important;
   }
}
svg{
   vertical-align: top;
}
.inner {
   width: $media_pc;
   margin: 0 auto;
   padding: 0 20px;
}
.container{
   &_bnr-top{
      background-color: $gray-50;
      text-align: center;
      padding: 16px 62px;
      p{
         font-size: $fs-xxs;
         font-weight: $fw-m;
         line-height: 1.2;
         margin-left: 8px;
         a{
            display: inline-flex;
            align-items: center;
         }
      }
   }
}
.mobile_br{
   display: none;
}
/* HEADER */
.header {
   background-color: $gray-800;
   position: relative;
   z-index: 1;
   @include flexCenter;
   .inner {     
      @include flexBetween;
      position: relative;
      transition: top 300ms;
      top: 0px;
   }
   .logo {
      line-height: 1;
      font-size: 14px;     
   }
   .nav {
      flex: auto;  
      transition: all 300ms;    
      overflow: visible;
      &_hamb{
         transition: a;
         display: none;
      }
      &_list {
         @include flexBetween;
         justify-content: space-around;
         flex: 1 1 auto;
      }
      &_item {
         transition: all 300ms;
         opacity: 1;
         a {
            display: inline-block;
            transition: all 300ms;
            transform: scale(1);
            color: $color-white;
            font-size: $fs-xs;
         }
      }      
   }
   .search_faq_link{
      display: none;
   }
   .util {
      margin-left: auto;
      position: relative;
      @include flexBetween;      
      flex: 0 0 5.08%;
      & > *[class*="util"]{
         > a::before {
            filter: invert(100%) sepia(1%) saturate(345%) hue-rotate(230deg) brightness(115%) contrast(100%);
         }
      }
      &_cart{
         transition: all 500ms;
         display: block;
         &::before{
            content: '';
            display: block;	
            visibility: hidden;
            width: 0;
            position: absolute;        
            border-style: solid;
            border-color: $gray-100 transparent;
            top: 23px;
            bottom: auto;
            left: auto;
            right: -2px;
            z-index: 1;
            border-width: 0 7px 10px;
         }
         &::after{
            content: ''; 
            display: block;	
            width: 0;
            visibility: hidden;
            position: absolute;       
            border-style: solid;
            border-color: #fff transparent;
            top: 26px;
            bottom: auto;
            left: auto;
            right: 0;
            border-width: 0 5px 7px;
            z-index: 2;
        }
        &.open{
         &::before, &::after{
            visibility: visible;
         }
         .header_cart{
            display: block;
            z-index: 2;
         }
        }
      }
      &_search {
         display: block;
      }
   }
   &_search{
      position: absolute;
      width: 50%;
      top: 50%;
         transform:translate(0%, -50%);
      left: 0px;
      flex: 1 1 100%;
      padding: 0 12px;
      background-color: $gray-800;
      transition: all 500ms 100ms, top 300ms, background-color 500ms;
      z-index: 1;    
      opacity: 0;
      transform:translate(20%, -50%);
      visibility: hidden;
      .input_group{
         height: 38px;
         overflow: hidden;
         transition: height 300ms;       
        
         z-index: 1;
         .input_text[type="text"]{
            caret-color:$color-white;
            border-radius: 10px;
            background-color: $gray-900;
            border-color: $gray-900;
            color: $color-white;
            font-weight: $fw-sb;
         }
         button{ 
            display: none;
            font-size: 16px;
            font-weight: 700;
         }
      }      
   }
   &_cart{
      //카트온보드
      display: none;
      padding: 16px 20px;
      background-color: $color-white;
      border: 1px solid $gray-100;
      border-radius: 20px;
      position: absolute;
      z-index: 1;
      right: 0;
      top: 32px;
      margin-right: -120px;
      &_msg{
         color: $gray-500;
         padding: 16px 0;
         font-size: $fs-xxs;
         text-align: center;
         & + .header_cart_list{
            margin-top: 16px;
         }
      }
      &_list{
         li{
            border-top: 1px solid $gray-100;
            text-align: left;
         }
         a{
            display: flex;
            align-items: center;
            display: block;
            padding: 8px 0;
            width: 240px;
            font-size: $fs-xxs;
            color: $color-primary;
            .ico{
               filter: invert(27%) sepia(59%) saturate(2566%) hue-rotate(195deg) brightness(93%) contrast(103%);
               margin-right: 16px;
            }
         }
      }
   }
   &.pc_searching{
      .nav_item/* , .util */{
         opacity: 0;
         visibility: hidden;
         a{
            transform: scale(0.8);
         }
      }
      .header_search{         
         opacity: 1;
         overflow: visible;
         visibility: visible;
         width: 100%;
         top: 50%;
         transform:translate(0%, -50%);
         left: 0;
         .input_group{
            width: 100%;
            max-width:548px;
            margin: 0 auto;
            .input_text[type="text"] {
               background-color: $gray-800;
               border-color: transparent;
            }
            button{
               display: inline-block;
               font-size: 0;
               &:hover{
                  &::after, &::before{
                     opacity: 0.3;
                  }
               }
               &::after, &::before{
                  content: '';
                  display: block;
                  width: 19px;
                  height: 1px;
                  background-color: $color-white;
                  opacity: 0.2;
               }
               &::before{
                  transform: rotate(-45deg);
               }
               &::after{
                  transform: rotate(45deg);
               }
            }
         }           
      }
   }
}
/* FOOTER */
.footer {
   @include flexCenter;
   background-color: $gray-10;   
   padding-bottom: 24px;
   .inner {
      flex-direction: column;
      align-items: flex-start;
   }
   &_quick{
      .tit{
         font-size: $fs-ml;
         font-weight: $fw-b;
      }
      ul{
         @include flexStart; 
         padding: 20px 0 35px;
         a{
            display: inline-block;
            border-radius: 24px;
            background-color: $gray-100;
            padding: 12px;
            font-size: $fs-xxs;
         }
         li + li{
            margin-left: 10px;
         }
      }
   }
   &_info {
      padding: 16px 0 24px;
      font-size: 11px;
      color: $gray-600;
      line-height: 1.4;
   }
   &_sitemap {
      width: 100%;
      padding: 24px 0 8px;
      border-top: 1px solid $gray-100;
      column-count: 5;
      li {
         @include flexStart;
         flex-direction: column;
         align-items: flex-start;
         font-weight: $fw-b;
         text-align: left;
         padding: 0 0 24px;
         &:nth-child(1),
         &:nth-child(3),
         &:nth-child(4),
         &:nth-child(6) {
            break-after: column;
         }
      }
      .sitemap{
         &_list{
            @include flexStart;
            flex-direction: column;
            align-items: flex-start;
         }
         &_tit {
            font-size: $fs-xxxs;
         }
         &_item {
            font-size: 11px;            
            font-weight: $fw-n;
            margin-top: 12px;
            border-bottom: 1px solid;
            border-color: transparent;
            transition: all 200ms;
            &:hover{
               border-color: $gray-700;
            }
         }
      }      
   }
   &_contact {
      padding: 12px 0;
      color: $gray-600;
      font-size: $fs-xxs;
   }
   &_company {
      position: relative;
      padding: 12px 0 12px;
      border-top: 1px solid $gray-100;
      @include flexStart;
      flex-wrap: wrap;
      &_copy {
         font-size: 11px;
         margin-right: 36px;
      }
      &_link {
         @include flexStart;
         flex-wrap: wrap;
         li {
            padding-right: 12px;
            & + li {
               border-left: 1px solid $gray-200;
               padding-left: 2px;
            }
         }
         a {
            color: $gray-500;
            font-size: 11px;
            font-weight: $fw-m;
         }
      }
      &_num {
         flex: 1 1 100%;
         font-size: 11px;
         color: $gray-400;
      }
      &_country {
         margin-left: auto;
         font-weight: $fw-m;
         font-size: 11px;
      }
   }
}


/* COMMON Responsive CSS */
@media screen and (max-width: 1240px ) {
   .header{
      &_cart{
         margin-right: calc(501px - 50vw );
      }
   }
}
@media screen and (max-width: $media_pc) {//1024px
   .inner {
      width: 100%;
      padding: 0 20px;
   } 
   .header{
      .util_cart{
         &::before{
            position: fixed;
            top: 38px;
            right: 18px;
         }
         &::after{
            position: fixed;
            top: 41px;
            right: 20px;
         }
      }
      &_cart{
         margin-right: -20px;
      }
   }   
}
@media screen and (max-width: $media_tablet) {//835px;
   .mobile_br{
      display: block;
   }
   .header{
      height: 45px;
      .inner{
         align-items: center;
      }
      align-items: flex-start;
      transition: all 500ms;
      .logo{
         margin-right: 0;
      }
      .util{
         margin-left: 0;
         width: 18px;
         text-align: right;
         justify-content: flex-end;
         &_search{
            display: none;
         }
         &_cart{
            &::before{
               visibility: hidden;
               opacity: 0;
               height: 0;
               transition: height 200ms linear;               
            }
            &::after{
               top: 38px;
            }
            &.open{
               &::before{
                  visibility: visible;
                  opacity: 1;
                  height: 100vh;
                  width: 100%;
                  top: 45px;
                  left: 0;
                  z-index: 1;
                  background-color: rgba(0, 0, 0, 0.5);
               }  
            }
         }
      }
      .nav{
         position: fixed;
         top: 100px;
         left: 0;
         width: 100%;
         z-index: -1;
         order: 5;
         flex: 1 1 100%;
         &_hamb{
            width: 18px;
            height: 10px;
            display: block;
            position: relative;
            &::after{
               display: block;
               content: '';
               width: 100%;
               height: 1px;
               background-color: $color-white;
               position: absolute;
               top: 0;
               left: 0;
               transition: all 500ms ease-in;
            }
            &::before{
               display: block;
               content: '';
               width: 100%;
               height: 1px;
               background-color: $color-white;
               position: absolute;
               bottom: 0;
               left: 0;
               transition: all 500ms ease-in;               
            }
         }
         &_list{
            max-width: 624px;
            margin: 0 auto;
            position: relative;
            top: -20px;     
            transition: all 500ms;
            opacity: 0.1;
            flex-direction: column;
            padding: 0 40px;
            justify-content: flex-start;
            height: 0;
            visibility: hidden;
         }
         &_item{
            width: 100%;
            padding: 14px 0;          
            a{
               @include flexStart;
               width: 100%;
               height: 100%;
               opacity: 0.7;
               transition:all 200ms ease-in;
               &:hover{
                  opacity: 1;
               }
            }
         }         
      }   
      .search_faq_link{
         display: block;
         visibility: hidden;
         opacity: 0;
         width: 100%;
         max-width: 516px;
         position: absolute;
         top: -100px;         
         left: 50%;
         transform: translateX(-50%);
         padding: 0 16px;
         transition: all 300ms;
         background-color: #000;
         span{
            color: $gray-300;
            font-size: $fs-xxs;
            display: inline-block;
            margin-bottom: 3px;
         }
         li{
            color:rgba($color: $color-white, $alpha: 0.8);
            font-size: $fs-xs;
            padding: 15px 0;
            border-bottom: 1px solid $gray-600;
            &:last-child{
               border-bottom: 0;
            }
         }
      }   
      &_cart{
         position: absolute;
         top: 30px;
         right: 0;
         border-radius: 0;
         border: 0;
         width: 100vw;
         background-color: $color-white;
         &_list{
            width: 530px;
            margin: 0 auto;
            a{
               width: 100%;
            }
         }
        /*  &::before{
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 100vh;
            top: 45px;
            left: 0;
            background-color: rgba($color: #000000, $alpha: 0.5);
         } */
         @media screen and (max-width: 610px) {
            &_list{
               width: 100%;
            }
            padding: 16px 40px;
         }
      }
      &_search{
         width: 100%;
         opacity: 1;
         top: 38px;
         transform: translate(0);
         height: 0;
         visibility: hidden;
         .input_group{       
            width: 100%;
            max-width: 516px;
            margin: 0 auto;
            visibility: hidden;
         }
      }
      &.open{
         background-color: #000;
         height: 100vh;
         overflow: visible;
         .inner{
            align-items: flex-start; 
            flex-wrap: wrap;
            overflow: visible;
         }
         .nav{
            opacity: 1;
            position:absolute;
            z-index: 1;          
            &_hamb{
               margin-top: 16px;                            
            }
            &_list{
               height: 100vh;
               top: 0px;
               opacity: 1;
               visibility: visible;
            }
            &_item{
               & + .nav_item{
                  border-top: 1px solid $gray-600;
               }
            }
         }
         .header_search{
            background-color: #000;
            padding: 12px;
            border-bottom: 1px solid #6e6e73;              
            visibility: visible;
            height: auto;
            .input_group{             
               height: 38px;
               visibility: visible;
            }
         }
         .util{
            margin-top: 16px;
            &_cart{
               opacity: 0;
               visibility: visible;
            }
         }
      }
      &.searching{
         .inner{
            top: -42px;
         }
         .header_search {
            overflow: visible;
            .input_group button{
               display: block;
            }           
         }
         .nav{
            &_list{
               top: 100px; 
               opacity: 0;
               visibility: hidden;
            }
         }
         .search_faq_link{
            position: absolute;
            visibility: visible;
            height: auto;
            top: 16px;
            opacity: 1;
         }
      }
   }
   .footer{      
      &_info{
         padding-bottom: 16px;
      }
      &_contact {
         padding: 16px 0;
      }
      &_company{
         border-top: 0;
         margin-top: -12px;
         flex-direction: column;
         align-items: flex-start;
         &_country {
            order: -1;
            margin-left: 0;
            margin-bottom: 20px;
            & + .footer_company_copy{
               margin-top: 16px;
            }
         }
         &_link{
            li{
               margin-top: 8px;
            }
         }
      }
      &_sitemap {
         column-count: auto;
         li {
            padding: 10px 0;
            cursor: pointer;
            &.open, &:active, &:hover{
               .sitemap_tit{
                  &::after ,&::before{
                     background-color: #000;
                  }
                  color: $gray-700;
                  font-weight: $fw-sb;
               }
            }
            &.open, &:active{
               .sitemap_tit{
                  &::after{
                     transform: rotate(-45deg);
                  }
                  &::before{
                     transform: rotate(45deg);
                  }
               }
            }
            &.open{
               .sitemap_list{
                  height: auto;
                  padding-top: 8px;
                  padding-bottom: 10px;
                  overflow: visible;
                  transition: all 0.3s;
                  top: 0;
                  left: 0;
                  opacity: 1;
                  a{
                     transition: all 0.3s;
                     height: auto;
                  }
               }
            }
            border-bottom: 1px solid $gray-200;
         }
         .sitemap{
            &_list{
               height: 0px;
               padding: 0 14px;
               overflow: hidden;
               transition: all 0.3s;
               position: relative;
               top: -30px;
               left: 0;
               opacity: 0;
               a{
                  height: 0;
                  transition: all 0.3s;
               }
            }
            &_tit {
               width: 100%;          
               color: $gray-400;
               font-weight: $fw-n;
               font-size: $fs-xxs;
               position: relative;
               background-color: $gray-10;
               z-index: 1;
               &::after ,&::before{
                  position: absolute;
                  content: '';
                  display: block;
                  width: 8px;
                  height: 1px;
                  background: $gray-700;
                  top: 50%;
                  right: 20px;
                  transform: translateY(-50%);
                  transition: transform 0.5s;
               }
               &::after{
                  transform: translateY(-50%) rotate(-90deg);
               }
            }
         }      
      }
   }
}
.nav_hamb.xOpen{
   &::after{
      animation: xOpenA 300ms forwards ease-in-out;
      @keyframes xOpenA {
         0%{
            top:6px;
         }
         100%{
            top: 5px;
            transform: rotate(45deg);
         }
      }
   }
   &::before{
      animation: xOpenB 300ms forwards ease-in-out;
      @keyframes xOpenB {
         0%{
           bottom:5px;
         }
         100%{                        
            bottom:4px;
            transform: rotate(-45deg);
         }
      }
   }  
}
.nav_hamb.xClosed{
   &::after{
      animation: xClosedA 300ms forwards ease-in-out;
      @keyframes xClosedA {
         0%{
            transform: rotate(45deg);
            top:6px;
         }
         50%{
            transform: rotate(0deg);
         }
         100%{
            top: 0px;
         }
      }
   }
   &::before{
      animation: xClosedB 300ms forwards ease-in-out;
      @keyframes xClosedB {
         0%{
            transform: rotate(-45deg);
            bottom:5px;
         }
         50%{
            transform: rotate(0deg);
         }
         100%{                        
            bottom:0px;
         }
      }
   }
}

@media screen and (max-width: $media_mini) {//320px;
}
