/* Icon */
*[class*="ico_"] {
   display: inline-block;
   position: relative;
   vertical-align: middle;
   &::before {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 100%;
      height: 100%;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
   }
}
*[class*="ico_"].white{
   filter: invert(95%) sepia(22%) saturate(0%) hue-rotate(327deg) brightness(109%) contrast(101%);
}
/* 사이즈별 */
*[class*="ico_48"] {
   width: 48px;
   height: 48px;
}
*[class*="ico_44"] {
   width: 44px;
   height: 44px;
}
*[class*="ico_24"] {
   width: 24px;
   height: 24px;
}
*[class*="ico_16"] {
   width: 16px;
   height: 16px;
}

/********* 유형별 *********/
/* ui-framework 아이콘 */
*[class*="ico_frame"] {
   &::before {
      @include iconImgPath("ico_framework.svg");
      background-size: auto;
   }
}
.ico_frame {
   &_logo {
      &::before {
         background-position: 2px 2px;
      }
   }
   &_standard {
      &::before {
         background-position: 0px -44px;
      }
   }
   &_perform {
      &::before {
         background-position: -48px -44px;
      }
   }
   &_high {
      &::before {
         background-position: -96px -44px;
      }
   }
   &_update {
      &::before {
         background-position: -144px -44px;
      }
   }
   //브라우저
   &_edege {
      &::before {
         background-position: -192px -44px;
      }
   }
   &_chrome {
      &::before {
         background-position: -240px -44px;
      }
   }
   &_safari {
      &::before {
         background-position: -288px -44px;
      }
   }
   &_firefox {
      &::before {
         background-position: -336px -44px;
      }
   }
   &_opera {
      &::before {
         background-position: -384px -44px;
      }
   }
   &_ie {
      &::before {
         background-position: -432px -44px;
      }
   }
   //24px
   &_copy {
      &::before {
         background-position: 0px -92px;
      }
   }
   //16px
   &_down {
      &::before {
         background-position: 0px -116px;
      }
   }
   &_down {
      &::before {
         background-position: 0px -116px;
      }
   }
   &_code {
      &::before {
         background-position: -16px -115px;
      }
   }
}

/* Element 아이콘 */
*[class*="ico_el"] {
   &::before {
      @include iconImgPath("ico_elements.svg");
      background-size: auto;
   }
}
.ico_el {
   //검색 돋보기 아이콘
   &_zoom {
      &::before {
         background-position: 0 0;
      }
      &.white {
         &::before {
            background-position: 0 0;
         }
      }
      &.gray {
         &::before {
            background-position: -24px 0;
         }
      }
      &.blue {
         &::before {
            background-position: -48px 0;
         }
      }
   }
   //작성 아이콘
   &_write {
      &::before {
         background-position: 0 0;
      }
      &.white {
         &::before {
            background-position: 0 -48px;
         }
      }
      &.gray {
         &::before {
            background-position: -16px -48px;
         }
      }
      &.blue {
         &::before {
            background-position: -32px -48px;
         }
      }
   }
}

/* Form 아이콘 */
*[class*="ico_frm"] {
   &::before {
      @include iconImgPath("ico_forms.svg");
      background-size: auto;
   }
}
.ico_frm {
   //검색 돋보기 아이콘
   &_zoom {
      &::before {
         background-position: -3px 0;
      }
      &.white {
         &::before {
            background-position: -3px 0;
         }
      }
      &.gray {
         &::before {
            background-position: -27px 0;
         }
      }
      &.blue {
         &::before {
            background-position: -51px 0;
         }
      }
   }
   //체크박스 아이콘
   &_ch {
      &::before {
         background-position: 0 -24px;
      }
      &-check {
         &::before {
            background-position: -24px -24px;
         }
      }
      &-dis {
         &::before {
            background-position: -48px -24px;
         }
      }
      &-dis-check {
         &::before {
            background-position: -72px -24px;
         }
      }
   }
   //라디오박스 아이콘
   &_rd {
      &::before {
         background-position: -96px -24px;
      }
      &-check {
         &::before {
            background-position: -120px -24px;
         }
      }
      &-dis {
         &::before {
            background-position: -144px -24px;
         }
      }
      &-dis-check {
         &::before {
            background-position: -168px -24px;
         }
      }
   }
   //클립 아이콘
   &_clip {
      &::before {
         background-position: 0 0;
      }
      &.white {
         &::before {
            background-position: 0 -48px;
         }
      }
      &.gray {
         &::before {
            background-position: -16px -48px;
         }
      }
      &.blue {
         &::before {
            background-position: -32px -48px;
         }
      }
   }
   //성공 / 에러 아이콘
   &_success {
      &::before {
         background-position: 0px -64px;
      }
   }
   &_error {
      &::before {
         background-position: -16px -64px;
      }
   }
   //방향 아이콘
   &_down {
      &::before {
         background-position: -32px -64px;
      }
   }
   &_up {
      &::before {
         background-position: -48px -64px;
      }
   }
}
.ico {
   //user아이콘
   &_user {
      &::before {
         @include iconImgPath("ico_user.svg");
      }
      &_square {
         &::before {
            @include iconImgPath("ico_user_square.svg");
         }
      }
      &_circle {
         &::before {
            @include iconImgPath("ico_user_circle.svg");
         }
      }
      &_octagon {
         &::before {
            @include iconImgPath("ico_user_octagon.svg");
         }
      }
      &_tag {
         &::before {
            @include iconImgPath("ico_user_tag.svg");
         }
      }
   }
   //arrow 아이콘
   &_arr {
      &_left {
         &::before {
            @include iconImgPath("ico_arr_left.svg");
         }
      }
      &_right {
         &::before {
            @include iconImgPath("ico_arr_right.svg");
         }
      }
      &_up {
         &::before {
            @include iconImgPath("ico_arr_up.svg");
         }
      }
      &_down {
         &::before {
            @include iconImgPath("ico_arr_down.svg");
         }
      }
      &_circle {
         &_left {
            &::before {
               @include iconImgPath("ico_arr_circle_left.svg");
            }
         }
         &_right {
            &::before {
               @include iconImgPath("ico_arr_circle_right.svg");
            }
         }
         &_up {
            &::before {
               @include iconImgPath("ico_arr_circle_up.svg");
            }
         }
         &_down {
            &::before {
               @include iconImgPath("ico_arr_circle_down.svg");
            }
         }
      }
      &_sort {
         &::before {
            @include iconImgPath("ico_arr_sort.svg");
         }
      }
      &_replace {
         &::before {
            @include iconImgPath("ico_arr_replace.svg");
         }
      }
   }
   &_chev {
      &_left {
         &::before {
            @include iconImgPath("ico_chev_left.svg");
         }
      }
      &_right {
         &::before {
            @include iconImgPath("ico_chev_right.svg");
         }
      }
      &_up {
         &::before {
            @include iconImgPath("ico_chev_up.svg");
         }
      }
      &_down {
         &::before {
            @include iconImgPath("ico_chev_down.svg");
         }
      }
      &_circle {
         &_left {
            &::before {
               @include iconImgPath("ico_chev_circle_left.svg");
            }
         }
         &_right {
            &::before {
               @include iconImgPath("ico_chev_circle_right.svg");
            }
         }
         &_up {
            &::before {
               @include iconImgPath("ico_chev_circle_up.svg");
            }
         }
         &_down {
            &::before {
               @include iconImgPath("ico_chev_circle_down.svg");
            }
         }
      }
   }
   &_rotate {
      &_left {
         &::before {
            @include iconImgPath("ico_rotate_left.svg");
         }
      }
      &_right {
         &::before {
            @include iconImgPath("ico_rotate_right.svg");
         }
      }
   }
   &_undo {
      &::before {
         @include iconImgPath("ico_undo.svg");
      }
   }
   &_redo {
      &::before {
         @include iconImgPath("ico_redo.svg");
      }
   }
   &_refresh {
      &_01 {
         &::before {
            @include iconImgPath("ico_refresh_01.svg");
         }
      }
      &_02 {
         &::before {
            @include iconImgPath("ico_refresh_02.svg");
         }
      }
   }
   //Commerce
   &_cart {
      &::before {
         @include iconImgPath("ico_cart.svg");
      }
   }
   &_store {
      &::before {
         @include iconImgPath("ico_store.svg");
      }
   }
   &_delivery {
      &::before {
         @include iconImgPath("ico_delivery.svg");
      }
   }
   &_money_01 {
      &::before {
         @include iconImgPath("ico_money_01.svg");
      }
   }
   &_money_02 {
      &::before {
         @include iconImgPath("ico_money_02.svg");
      }
   }
   &_card {
      &::before {
         @include iconImgPath("ico_card.svg");
      }
   }
   &_box_01 {
      &::before {
         @include iconImgPath("ico_box_01.svg");
      }
   }
   &_box_02 {
      &::before {
         @include iconImgPath("ico_box_02.svg");
      }
   }
   &_barcode {
      &::before {
         @include iconImgPath("ico_barcode.svg");
      }
   }
   &_discount {
      &::before {
         @include iconImgPath("ico_discount.svg");
      }
   }
   &_wallet {
      &::before {
         @include iconImgPath("ico_wallet.svg");
      }
   }
   //Device
   &_monitor {
      &::before {
         @include iconImgPath("ico_monitor.svg");
      }
   }
   &_mobile {
      &::before {
         @include iconImgPath("ico_mobile.svg");
      }
   }
   &_responsive {
      &::before {
         @include iconImgPath("ico_responsive.svg");
      }
   }
   &_printer {
      &::before {
         @include iconImgPath("ico_printer.svg");
      }
   }
   &_mouse {
      &::before {
         @include iconImgPath("ico_mouse.svg");
      }
   }
   &_airpods {
      &::before {
         @include iconImgPath("ico_airpods.svg");
      }
   }
   &_airdrop {
      &::before {
         @include iconImgPath("ico_airdrop.svg");
      }
   }
   &_watch {
      &::before {
         @include iconImgPath("ico_watch.svg");
      }
   }
   //Multimedia
   &_mike {
      &::before {
         @include iconImgPath("ico_mike.svg");
      }
      &_slash {
         &::before {
            @include iconImgPath("ico_mike_slash.svg");
         }
      }
   }
   &_gallery {
      &::before {
         @include iconImgPath("ico_gallery.svg");
      }
   }
   &_image {
      &::before {
         @include iconImgPath("ico_image.svg");
      }
   }
   &_video {
      &_01 {
         &::before {
            @include iconImgPath("ico_video_01.svg");
         }
      }
      &_02 {
         &::before {
            @include iconImgPath("ico_video_02.svg");
         }
      }
      &_03 {
         &::before {
            @include iconImgPath("ico_video_03.svg");
         }
      }
   }
   &_camera {
      &::before {
         @include iconImgPath("ico_camera.svg");
      }
   }
   &_music {
      &::before {
         @include iconImgPath("ico_music.svg");
      }
      &_list {
         &::before {
            @include iconImgPath("ico_music_list.svg");
         }
      }
   }
   &_play {
      &::before {
         @include iconImgPath("ico_play.svg");
      }
      &_previous {
         &::before {
            @include iconImgPath("ico_play_previous.svg");
         }
      }
      &_next {
         &::before {
            @include iconImgPath("ico_play_next.svg");
         }
      }
      &_circle {
         &::before {
            @include iconImgPath("ico_play_circle.svg");
         }
      }
   }
   &_pause {
      &::before {
         @include iconImgPath("ico_pause.svg");
      }
      &_circle {
         &::before {
            @include iconImgPath("ico_pause_circle.svg");
         }
      }
   }
   &_backward {
      &::before {
         @include iconImgPath("ico_backward.svg");
      }
   }
   &_forward {
      &::before {
         @include iconImgPath("ico_forward.svg");
      }
   }
   &_stop_circle {
      &::before {
         @include iconImgPath("ico_stop_circle.svg");
      }
   }
   &_volume {
      &::before {
         @include iconImgPath("ico_volume.svg");
      }
      &_mute {
         &::before {
            @include iconImgPath("ico_volume_mute.svg");
         }
      }
      &_cross {
         &::before {
            @include iconImgPath("ico_volume_cross.svg");
         }
      }
   }
   //UI actions
   &_home {
      &::before {
         @include iconImgPath("ico_home.svg");
      }
   }
   &_search {
      &::before {
         @include iconImgPath("ico_search.svg");
      }
   }
   &_menu {
      &::before {
         @include iconImgPath("ico_menu.svg");
      }
   }
   &_switcher {
      &::before {
         @include iconImgPath("ico_switcher.svg");
      }
   }
   &_edit {
      &::before {
         @include iconImgPath("ico_edit.svg");
      }
   }
   &_del {
      &::before {
         @include iconImgPath("ico_del.svg");
      }
   }
   &_add {
      &::before {
         @include iconImgPath("ico_add.svg");
      }
   }
   &_minus {
      &::before {
         @include iconImgPath("ico_minus.svg");
      }
   }
   &_close {
      &::before {
         @include iconImgPath("ico_close.svg");
      }
      &_square {
         &::before {
            @include iconImgPath("ico_close_square.svg");
         }
      }
   }
   &_info_circle {
      &::before {
         @include iconImgPath("ico_info_circle.svg");
      }
   }
   &_danger {
      &::before {
         @include iconImgPath("ico_danger.svg");
      }
   }
   &_setting {
      &::before {
         @include iconImgPath("ico_setting.svg");
      }
   }
   &_bookmark {
      &::before {
         @include iconImgPath("ico_bookmark.svg");
      }
   }
   &_heart {
      &::before {
         @include iconImgPath("ico_heart.svg");
      }
   }
   &_star {
      &::before {
         @include iconImgPath("ico_star.svg");
      }
   }
   &_location {
      &::before {
         @include iconImgPath("ico_location.svg");
      }
   }
   &_gps {
      &::before {
         @include iconImgPath("ico_gps.svg");
      }
   }
   &_map {
      &::before {
         @include iconImgPath("ico_map.svg");
      }
   }
   &_global {
      &::before {
         @include iconImgPath("ico_global.svg");
      }
   }
   &_email {
      &::before {
         @include iconImgPath("ico_email.svg");
      }
   }
   &_reply {
      &::before {
         @include iconImgPath("ico_reply.svg");
      }
   }
   &_lock {
      &::before {
         @include iconImgPath("ico_lock.svg");
      }
   }
   &_unlock {
      &::before {
         @include iconImgPath("ico_unlock.svg");
      }
   }
   &_filter {
      &::before {
         @include iconImgPath("ico_filter.svg");
      }
      &_square {
         &::before {
            @include iconImgPath("ico_filter_square.svg");
         }
      }
   }
   &_file {
      &::before {
         @include iconImgPath("ico_file.svg");
      }
   }
   &_share {
      &::before {
         @include iconImgPath("ico_share.svg");
      }
   }
   &_calendar {
      &::before {
         @include iconImgPath("ico_calendar.svg");
      }
   }
   &_flag {
      &::before {
         @include iconImgPath("ico_flag.svg");
      }
   }
   &_send {
      &_01 {
         &::before {
            @include iconImgPath("ico_send_01.svg");
         }
      }
      &_02 {
         &::before {
            @include iconImgPath("ico_send_02.svg");
         }
      }
   }
   &_memo {
      &_01 {
         &::before {
            @include iconImgPath("ico_memo_01.svg");
         }
      }
      &_02 {
         &::before {
            @include iconImgPath("ico_memo_02.svg");
         }
      }
   }
   &_noti {
      &_01 {
         &::before {
            @include iconImgPath("ico_noti_01.svg");
         }
      }
      &_02 {
         &::before {
            @include iconImgPath("ico_noti_02.svg");
         }
      }
   }
   &_call {
      &::before {
         @include iconImgPath("ico_call.svg");
      }
   }
   &_calling {
      &::before {
         @include iconImgPath("ico_calling.svg");
      }
   }
   &_clock {
      &::before {
         @include iconImgPath("ico_clock.svg");
      }
   }
   &_timer {
      &::before {
         @include iconImgPath("ico_timer.svg");
      }
   }
   &_over_menu {
      &::before {
         @include iconImgPath("ico_over_menu.svg");
      }
   }
}