@import "common";

/* MAIN CSS */
div[data-product]{
   cursor: pointer;
}
section{
   position: relative;
}
section[data-product="MacBookAir"]{
   background: url('../images/main/hero_macbookair_largetall.png') no-repeat center/cover;
}
section[data-product="iPhone13"]{
   background: url('../images/main/hero_iphone13_largetall.jpg') no-repeat center/cover;
}
section[data-product="iPhone13Pro"]{
   background: url('../images/main/hero_iphone13pro_largetall.jpg') no-repeat center/cover;
}
section div[data-product="WATCH7"]{
   background: url('../images/main/promo_ws7_large.jpg') no-repeat center/cover; 
}
section div[data-product="MacBookPro13"]{
   background: url('../images/main/promo_mbp13_large.jpg') no-repeat center/cover;
}
section div[data-product="iPadair"]{
   background: url('../images/main/promo_ipadair_large.jpg') no-repeat center/cover;
}
section div[data-product="AirPodsPro"]{
   background:#000 url("../images/main/tile_large.jpg") no-repeat bottom center/40%;
}
section div[data-product="musicLive"]{
   background: url('../images/main/promo_maryj_large.jpg') no-repeat bottom center/cover;
   .product_cont{
      height: 100%;
      justify-content: flex-start;
      .product_desc{
         margin-top: auto;
      }
      .product_tit{
         @include flexCenter;
         margin-top: -3.2rem;
         img{
            top: 8px;
         }
      }
   }
}
div[data-product="appleTV"]{
   background: url('../images/main/promo_blackbird_large.jpg') no-repeat center/cover;  
   .product_cont{
      height: 100%;
      justify-content: flex-start;
   }
   h3.product_tit{
      font-size: $fs-xxxlg;
      margin-top: auto;
   }
}
.product {
   &_section {
      display: flex;
      align-items: flex-start;
      height: 690px;
      background-color: $gray-10;
      &.align_center{
         align-items: center;
         .product_cont{
            padding-left: $sp11;
         }
      }
      & + .product_section {
         margin-top: 12px;
      }
      &-col2 {
         @include flexStart;
         flex-wrap: wrap;
         padding: 12px;
         gap: 12px;
      }
   }
   &_col2_box {
      flex: 1 1 calc(50% - 12px);
      background-color: #000;
      height: 580px;
      position: relative;
      &.bg_white{
         .product_tit{color: $gray-900;}
         .product_desc{color: $gray-900;}
      }
      .product {
         &_tit {
            color: $color-white;
            line-height: 1;
            font-size: $fs-lg;
            font-weight: $fw-sb;
            position: relative;
            &.with_logo{
               padding-left: 34px;
               img{
                  width: 28px;
                  position: absolute;
                  top: -25px;
                  left: 0;
               }
               span{
                  margin-left: -34px;
               }
            }
            & + .product_desc {
               margin-top: 12px;
            }
         }
         &_desc {
            color: $color-white;
            font-size: $fs-m;
            & + .product_link {
               margin-top: 12px;
            }
            .m2Box{
               width: 32px;
               height: 32px;
               -webkit-box-shadow:-1px -2px 9px 2px #f5963d, 2px 3px 10px 4px #8000ff;
               -moz-box-shadow:-1px -2px 9px 2px #f5963d, 2px 3px 10px 4px #8000ff;
               box-shadow:-1px -2px 9px 2px #f5963d, 2px 3px 10px 4px #8000ff;
            }
         }
         &_cont{
            padding:6.4rem 0 3.2rem;
         }
         &_link{
            font-size: $fs-s;
            a:hover {
               > span {
                  &::after {
                     height: 1px;
                  }
               }
            }
         }
      }
   }
   &_cont {
      @include flexCenter;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      padding: $sp09 0 140px;
      &-left {
         align-items: flex-start;
      }
   }
   &_tit {
      font-size: $fs-xxxlg;
      text-align: center;
      & + .product_desc {
         margin-top: 12px;
      }
      span{
         display: block;
         font-size: $fs-xs;
         margin-top: 8px;
         letter-spacing: 1.6px;
      }
      &_circle{
         width: 100px;
         height: 100px;
         border: 4px solid $color-white;
         border-radius: 100%;
         @include flexCenter;
         margin-left: 8px;
      }
   }
   &_desc {
      @include flexStart;
      font-size: $fs-md;
      text-align: center;
      font-weight: 500;
      & + .product_link {
         margin-top: 24px;
      }
      .m2Box{
         width: 38px;
         height: 38px;
         background-color: #000000;
         margin-left: 8px;
         @include flexCenter;
         em{
            font-size: $fs-xxs;
            color:$color-white;
            padding-left: 10px;
            background: url('../images/apple_logo.svg') no-repeat left center/35%;
         }
      }
   }
   &_link {
      color: $color-primary;
      font-size: $fs-sm;
      font-weight: 500;
      @include flexStart;
      > a {
         & + a {
            margin-left: 36px;
         }
         @include flexStart;
         > i {
            filter: invert(20%) sepia(59%) saturate(7005%) hue-rotate(200deg) brightness(97%) contrast(101%);
         }
         &:hover {
            > span {
               position: relative;
               &::after {
                  content: "";
                  display: block;
                  position: absolute;
                  bottom: -2px;
                  left: 0;
                  width: 100%;
                  height: 2px;
                  background-color: $color-primary-lighten1;
               }
               &.txt_white{
                  &::after{
                     background-color: $color-white;
                  }
               }
            }
         }
      }
   }
}

/* MAIN Responsive CSS */
@media screen and (max-width: 1240px ) {
   .header{
      &_cart{
         margin-right: calc(501px - 50vw );
      }
   }
}
@media screen and (max-width: $media_pc) {//1024px
   .inner {
      width: 100%;
      padding: 0 20px;
   }
}
@media screen and (max-width: $media_tablet) {//835px;
   section[data-product="MacBookAir"]{
      background: url('../images/main/hero_macbookair_small.png') no-repeat center/cover;
      background-position: bottom;
   }
   section[data-product="iPhone13"]{
      background: url('../images/main/hero_iphone13_small.jpg') no-repeat center/cover;
   }
   section[data-product="iPhone13Pro"]{
      background: url('../images/main/hero_iphone13pro_small.jpg') no-repeat center/cover;
   }
   section div[data-product="WATCH7"]{
      background: url('../images/main/promo_ws7_small.jpg') no-repeat center/cover; 
   }
   section div[data-product="MacBookPro13"]{
      background: url('../images/main/promo_mbp13_small.jpg') no-repeat center/cover;
   }
   section div[data-product="iPadair"]{
      background: url('../images/main/promo_ipadair_small.jpg') no-repeat center/cover;
   }
   section div[data-product="AirPodsPro"]{
      background:#000 url("../images/main/tile_small.jpg") no-repeat bottom center/40%;
   }
   section div[data-product="musicLive"]{
      background: url('../images/main/promo_maryj_small.jpg') no-repeat bottom center/cover;    
      .product_cont{
         .product_tit{
            @include flexCenter;
            margin-top: -1.2rem;
            img{
               top: 12px;
            }
         }
      }
   }
   .product{
      &_section{
         height:500px;
         &-col2{
            padding: 0 0 12px;
         }
         &.align_center{
            align-items: flex-start;
            .product_cont{
               padding-left: 0;
               align-items: center;
            }
         }
      }
      &_col2_box {
         flex: 1 1 100%;
         height: 530px;
         .product{
            &_cont{
               padding:3.6rem 0 3.2rem;
            }
            &_tit{
               font-size: $fs-md;
               &.with_logo{
                  padding-left:26px;
                  img{
                     width: 24px;
                     position: absolute;
                     top: -25px;
                     left: 0;
                  }
                  span{
                     margin-left: -24px;
                  }
               }
               &_circle{
                  font-size: $fs-l;
                  font-weight: $fw-n;
                  width: 80px;
                  height: 80px;
                  border: 3px solid #fff;
               }
            }
            &_desc{
               font-size: $fs-sm;
               .m2Box{
                  width: 28px;
                  height: 28px;
               }
            }
            &_link{
               font-size: $fs-xs;
            }
         }
      }
      &_tit{
         font-weight: $fw-sb;
         font-size: $fs-xlg;
         line-height: 1.2;
      }
      &_desc {
         font-size: $fs-m;
         & + .product_link {
            margin-top: 18px;
         }
         .m2Box{
            width: 30px;
            height: 30px;
            margin-left: 8px;
            @include flexCenter;
            em{
               font-size: $fs-xxxs;
               color:$color-white;
               padding-left: 6px;
               background: url('../images/apple_logo.svg') no-repeat left center/28%
            }
         }
      }
      &_link {         
         font-size: $fs-s;
      }
   }
}
@media screen and (max-width: $media_mini) {//320px;
   .product{
      &_tit{
         font-size: 3.2rem;
      }
     
   }

}
